<script>
var svgCopyIcon = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect><path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path></svg>`;

Array.from(document.querySelectorAll("pre.json")).forEach((pre) => {
  var svg = document.createElement("div");
  svg.innerHTML = svgCopyIcon;
  svg = svg.querySelector("*");
  pre.style.position = "relative";
  svg.style.position = "absolute";
  svg.style.top = 0;
  svg.style.right = 0;
  svg.style.width = "14px";
  svg.style.cursor = "pointer";
  svg.addEventListener("click", function () {
    var input = document.createElement("input");
    input.setAttribute("type", "text");
    input.style.position = "absolute";
    input.style.opacity = 0;
    // Everything up to the last ] or }, to avoid broken
    // JSON if the 'copied' text is still present
    var json = pre.innerText.match(/^(.*[\]\}].*?$)$/gms)[0];
    input.value = JSON.stringify(JSON.parse(json));
    pre.appendChild(input);
    input.select();
    document.execCommand("copy");
    input.parentNode.removeChild(input);
    // Show a 'copied' message then fade it out
    var copied = document.createElement("span");
    copied.innerHTML = "Copied";
    copied.style.position = "absolute";
    copied.style.top = "3ex";
    copied.style.right = 0;
    copied.style.color = "#666";
    copied.style.fontFamily = "Helvetica, sans-serif";
    copied.style.fontSize = "0.8em";
    copied.style.fontWeight = "bold";
    copied.style.transition = "opacity 1s";
    pre.appendChild(copied);
    setTimeout(() => {
      copied.parentNode.removeChild(copied);
    }, 1500);
    setTimeout(() => {
      copied.style.opacity = 0;
    }, 500);
  });
  pre.appendChild(svg);
});

function slugify(s) {
  return s
    .toLowerCase()
    .replace(/[^-\w\s]/g, "") // remove non-alphanumerics
    .trim()
    .replace(/[-\s]+/g, "-") // spaces to hyphens
    .replace(/-+$/g, ""); // trim trailing hyphens
}

function setupSaveDashboardForm() {
  var titleInput = document.querySelector("#id__save-title");
  var slugInput = document.querySelector("#id__save-slug");
  if (!titleInput) {
    return;
  }
  // Scroll to form if there are errors
  if (document.querySelector('.errorlist')) {
    document.querySelector('#save-dashboard').scrollIntoView();
  }
  // Hide view group / edit group unless policies selected
  var viewGroupContainer = document.querySelector(
    "#id__save-view_group"
  ).parentElement;
  var editGroupContainer = document.querySelector(
    "#id__save-edit_group"
  ).parentElement;
  var viewPolicySelect = document.querySelector(
    "#id__save-view_policy"
  );
  var editPolicySelect = document.querySelector(
    "#id__save-edit_policy"
  );
  const viewChange = () => {
    if (viewPolicySelect.value == 'group') {
      viewGroupContainer.style.display = 'block';
    } else {
      viewGroupContainer.style.display = 'none';
    }
  }
  const editChange = () => {
    if (editPolicySelect.value == 'group') {
      editGroupContainer.style.display = 'block';
    } else {
      editGroupContainer.style.display = 'none';
    }
  }
  viewPolicySelect.addEventListener('change', viewChange);
  viewChange();
  editPolicySelect.addEventListener('change', editChange);
  editChange();

  // Auto-fill slug from title
  let slugManuallyEdited = false;
  slugInput.addEventListener("change", () => {
    slugManuallyEdited = !!slugInput.value;
  });
  function titleEdited() {
    if (slugManuallyEdited) {
      return;
    }
    slugInput.value = slugify(titleInput.value);
  }
  titleInput.addEventListener("change", titleEdited);
  titleInput.addEventListener("focus", titleEdited);
  titleInput.addEventListener("keyup", titleEdited);
}
window.addEventListener("load", setupSaveDashboardForm);

var DROPDOWN_HTML = `<div class="dropdown-menu">
<div class="hook"></div>
<ul>
  <li><a class="dropdown-count" href="#">Counts by value</a></li>
  <li><a class="dropdown-count-distinct" href="#">Count distinct values</a></li>
  <li><a class="dropdown-sort-asc" href="#">Sort ascending</a></li>
  <li><a class="dropdown-sort-desc" href="#">Sort descending</a></li>
</ul>
</div>`;

var DROPDOWN_ICON_SVG = `<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
  <circle cx="12" cy="12" r="3"></circle>
  <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
</svg>`;

(function () {
  function closeMenu() {
    menu.style.display = "none";
    menu.classList.remove("anim-scale-in");
  }
  document.body.addEventListener("click", (ev) => {
    /* was this click outside the menu? */
    var target = ev.target;
    while (target && target != menu) {
      target = target.parentNode;
    }
    if (!target) {
      closeMenu();
    }
  });
  function iconClicked(ev) {
    ev.preventDefault();
    ev.stopPropagation();
    var th = ev.target;
    while (th.nodeName != "TH") {
      th = th.parentNode;
    }
    var rect = th.getBoundingClientRect();
    var menuTop = rect.bottom + window.scrollY;
    var menuLeft = rect.left + window.scrollX;
    var column = th.getAttribute("data-column");
    [
      ["a.dropdown-count", "countUrl"],
      ["a.dropdown-sort-asc", "sortAscUrl"],
      ["a.dropdown-sort-desc", "sortDescUrl"],
      ["a.dropdown-count-distinct", "countDistinctUrl"]
    ].forEach(([selector, datasetItem]) => {
      var menuItem = menu.querySelector(selector);
      if (th.dataset[datasetItem]) {
        menuItem.href = th.dataset[datasetItem];
        menuItem.parentNode.style.display = 'block';
      } else {
        menuItem.parentNode.style.display = 'none';
      }
    });
    menu.style.position = "absolute";
    menu.style.top = menuTop + 6 + "px";
    menu.style.left = menuLeft + "px";
    menu.style.display = "block";
    menu.classList.add("anim-scale-in");
  }
  var svg = document.createElement("div");
  svg.innerHTML = DROPDOWN_ICON_SVG;
  svg = svg.querySelector("*");
  svg.classList.add("dropdown-menu-icon");
  var menu = document.createElement("div");
  menu.innerHTML = DROPDOWN_HTML;
  menu = menu.querySelector("*");
  menu.style.position = "absolute";
  menu.style.display = "none";
  document.body.appendChild(menu);
  var ths = Array.from(document.querySelectorAll("table th[data-count-url]"));
  ths.forEach((th) => {
    var icon = svg.cloneNode(true);
    icon.addEventListener("click", iconClicked);
    th.appendChild(icon);
  });
})();
</script>
